@import "../rule/mixin.scss";
@import "../rule/variables.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100vh;

  & > a {
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 20px;

    @include keyframes(blink) {
      50% {
        color: $primary-color;
      }
    }

    div {
      color: $white;
      text-align: center;
      padding-top: 10px;
      animation: blink 0.7s infinite;
    }
  }

  &-container {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;

    .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;

      form {
        .content {
          display: flex;
          width: 100%;
          height: 50px;
          align-items: center;
          justify-content: space-around;

          .checkbox {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
              accent-color: #333;
              width: 12px;
              height: 12px;
            }

            label {
              font-size: 14px;
              user-select: none;
              padding-left: 5px;
            }
          }
        }

        .social-container {
          margin: 20px 0;

          a {
            border: 1px solid #dddddd;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 35px;
            width: 35px;
            transition: 0.3s ease-in-out;

            &:hover {
              border: 1px solid #4bb6b7;
              cursor: pointer;
              border-radius: 90px;
              background-color: white;
              color: #0040ff;
              transform: scale(1.2);
            }
          }
        }

        h1 {
          font-weight: 700;
          letter-spacing: -1.5px;
          margin: 0;
          margin-bottom: 15px;
        }

        span {
          font-size: 14px;
          margin-top: 25px;
        }

        a {
          color: #333;
          font-size: 14px;
          text-decoration: none;
          margin: 15px 0;
          transition: 0.3s ease-in-out;

          &:hover {
            color: #4bb6b7;
          }
        }
      }
    }

    .register-item {
      left: 0;
      width: 50%;
      opacity: 1;
      z-index: 1;
    }

    .login-item {
      left: 0;
      width: 50%;
      z-index: 2;
    }

    .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;

      .overlay {
        background-image: url("https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: linear-gradient(
            to top,
            rgba(46, 94, 109, 0.4) 40%,
            rgba(46, 94, 109, 0)
          );
        }

        &-panel {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          top: 0;
          height: 100%;
          width: 50%;
          transform: translateX(0);
          transition: transform 0.6s ease-in-out;

          .title {
            font-size: 45px;
            line-height: 45px;
            margin: 0;
            text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
          }

          p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
            text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
          }

          .ghost {
            background-color: rgba(225, 225, 225, 0.2);
            border: 2px solid #fff;
            color: #fff;

            // &:hover {
            //   .register {
            //     right: 40px;
            //     opacity: 1;
            //   }

            //   .login {
            //     left: 40px;
            //     opacity: 1;
            //   }
            // }

            i {
              position: absolute;
              opacity: 0;
              transition: 0.3s ease-in-out;
            }

            .register {
              right: 70px;
            }

            .login {
              left: 70px;
            }
          }
        }

        &-left {
          transform: translateX(-20%);
        }

        &-right {
          right: 0;
          transform: translateX(0);
        }
      }
    }
  }

  .right-panel-active {
    .login-item {
      transform: translateX(100%);
    }

    .register-item {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      @include keyframes(show) {
        0%,
        49.99% {
          opacity: 0;
          z-index: 1;
        }

        50%,
        100% {
          opacity: 1;
          z-index: 5;
        }
      }
      animation: show 0.6s;
    }

    .overlay-container {
      transform: translate(-100%);
      .overlay {
        transform: translateX(50%);

        &-left {
          transform: translateX(0);
        }

        &-right {
          transform: translateX(20%);
        }
      }
    }
  }

  form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;

    &:hover {
      letter-spacing: 3px;
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }
}
.error {
  color: red;
  font-size: 13px;
  text-transform: uppercase;
}
