@import "../rule/mixin.scss";
@import "../rule/variables.scss";

.blog-card {
  width: 390px;
  border: 2px solid rgba(86, 90, 207, 0.2);
  background-color: $white;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 20px;
  margin: 15px;

  &:hover {
    box-shadow: 0 10px 30px 0 rgb(31 34 120 / 10%);
    border: 2px solid $white;
  }

  .post-media {
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }

  .post-info {
    padding: 12px;
    .post-meta {
      align-items: center;
      margin-bottom: 15px;
      display: flex;
      .author {
        position: relative;
        font-size: 14px;
        margin-right: 20px;
        color: #f17732;
        line-height: 1;
        a {
          display: flex;
          align-items: center;
          img {
            border-radius: 30px;
            height: 30px;
            width: 30px;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }

      .date {
        position: relative;
        font-size: 14px;
        color: #f17732;
        line-height: 1;
        svg {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }

    .post-title {
      margin-bottom: 25px;
      color: #1f2278;
      line-height: 1.3;
      font-size: 20px;
      font-weight: 700;
      &:hover {
        color: #565acf;
      }
    }

    .btn-sm {
      font-size: 14px;
      padding: 12px 27px 12px 20px;
      svg {
        background: $primary-color;
        color: $white;
        width: 34px;
        height: 34px;
        margin: -10px -24px -8px 15px;
        line-height: 34px;
        border-radius: inherit;
      }
    }
  }
}
