@import "../rule/mixin.scss";
@import "../rule/variables.scss";

.card-clinic {
  border-radius: 20px;
  max-width: 350px;
  text-align: center;
  background-color: $white;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
  border: 2px solid rgba(86, 90, 207, 0.2);
  padding: 15px;

  &:hover {
    box-shadow: 0 10px 30px 0 rgb(31 34 120 / 10%);
    border: 2px solid $white;
  }

  .card-img {
    min-height: 220px;

    .profile-pic {
      object-fit: cover;
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 20px;
      height: 200px;
      width: 100%;
      min-width: 317px;
    }
  }

  .card-title {
    margin: 0;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
    min-height: 55px;
    padding-top: 8px;
  }

  .content-card {
    padding-top: 10px;
    margin-bottom: 10px;
    min-height: 220px;

    ul {
      font-size: 16px;
      text-align: left;
      backface-visibility: hidden;
      transition: all 0.4s ease-in-out 0s;
      z-index: 1;
      li {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        line-height: 1.5;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 5px;
          background: $yellow;
          width: 10px;
          height: 10px;
          text-align: center;
          transform: rotate(0deg);
        }

        &::after {
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          height: 10px;
          width: 10px;
          background: $yellow;
          transform: rotate(45deg);
        }
      }
    }
  }
}
