@import "../rule/mixin.scss";
@import "../rule/variables.scss";

.member {
  width: 370px; ///sau làm thì xóa cái w này đi
  background-color: $white;
  text-align: center;
  padding: 35px 40px 50px;
  border-radius: 20px;
  transition: all 0.5s;
  z-index: 1;
  position: relative;
  border: 2px solid rgba(86, 90, 207, 0.2);
  &:hover {
    box-shadow: 0 10px 20px 0 rgb(0 2 72 / 10%);
    z-index: 9;
    border-color: $white;

    .member-img {
      &:before,
      &::after {
        opacity: 1;
      }
    }
  }

  &-img {
    padding: 20%;
    position: relative;
    margin-bottom: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      @include transition-ease-in-out(0.5s);
    }

    &::before {
      background: url("../../assets/img/borderimg1.png") no-repeat 50%;
      background-size: 77%;
    }

    &::after {
      background: url("../../assets/img/borderimg2.png") no-repeat 50%;
      background-size: 100%;
    }

    img {
      mask-image: url("../../assets/img/mask-avt.png");
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 100%;
    }
  }

  &-info {
    .content {
      margin-bottom: 25px;
      h4 {
        color: #1f2278;
        line-height: 1.3;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        color: rgb(241, 119, 50);
      }
    }

    .social {
      display: flex;
      justify-content: center;
      margin: 0 -6px;
      div {
        display: inline-block;
        padding: 0 6px;

        a {
          height: 40px;
          width: 40px;
          background-color: $primary-color;
          border-radius: 8px;
          transition: all 0.5s;
          color: $white;
          line-height: 42px;
          text-align: center;
          box-shadow: 0 10px 40px 0 rgb(31 34 120 / 10%);
          @include flex(center, center);

          &:hover {
            color: $white;
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}
